<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.UNOITConnectionString" connectionString="Data Source=Sharp;Initial Catalog=UNOIT;User ID=SharpUsers;Password=Unoit123"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.UNOITConnectionString1" connectionString="Data Source=SHARP;Initial Catalog=UNOIT;Persist Security Info=True;User ID=SharpUsers;Password=Unoit123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>