body
{
    background: #4e4e4e url(../images/web_bg.png) repeat-x 0 0;
    width:100%;
    height:814px;
    margin: 0 auto;
    text-align: center;
    margin-top: 0px;
    font-family: 微软雅黑;
    
}

/*这个只是用来看看框子在哪里的~*/
div
{
    border: 0px solid gray;
}

/*把字体设置为10号字……当初定了这个类的我脑子一定是坏掉了╮(╯_╰)╭*/
.Set12px
{
    font-size: 12px;
    vertical-align: middle;
    padding-left: 5px;
    color: #3e3e3e;
}


/*超链接的默认设置，三个伪类一定要按这个顺序放哦亲，不然不起作用哦亲~*/
a:link
{
    text-decoration: none;
    color: #3e3e3e;
}

a:visited
{
    text-decoration: none;
    color: #3e3e3e;
}

a:hover
{
    text-decoration: none;
    color: #ffcc66;
}


/*最外面的那个框框哦亲~还不是那个白的哦亲~*/
.Window
{
    height:814px;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    background-color: #3a3a3a;
}

.PersonNav
{
    height: 82px;
    width: 876px;
    background-image: url(../images/PersonNav.png);
    background-repeat: no-repeat;
    position: relative;
    left: -76px;
    z-index: 1000;
    vertical-align: middle;
}

.logo
{
    float: left;
    height: 50px;
    width: 138px;
    z-index: 100;
}

.MainDiv
{
    background-color: #f8f8f8;
    height: 807px;
    width: 782px;
    margin: 0 auto;
    padding-top: 0px;
    clear: none;
    position: relative;
    top: -83px;
}

/*搜索这部分不要乱动，会死的……*/
.search
{
    width: 100%;
    height: 60px;
    text-align: left;
}
.search > span
{
    display: inline-block;
    height: 36.8px;
    width: 322px;
    position: relative;
    top: 62px;
    left: 416.53px;
    background-image: url(../images/img_login/LoginImgSrc.png);
    background-position: -8.5px -11.5px;
    vertical-align: middle;
    font-family: 微软雅黑;
    font-size: 14px;
    z-index:1002;
}

.Text_Search
{
    margin-left: 5px;
    margin-top: 4px;
    height: 24.5px;
    width: 227px;
    border-color: #66cccc;
    border-width: 1px;
    vertical-align: middle;
    font-size: 12pt;
}

/*很土鳖很灰主流方法实现的导航……你没看错= =全是图片*/
.nav
{
    clear: both;
    height: 54.47px;
    width: 100%;
    top: 36.5px;
    position: relative;
    margin: 0 auto;
    width: 687px;
    text-align: left;
    background: url("../images/img_login/LoginImgSrc.png") no-repeat -8px -125.5px;
}

/*然后在图上画出来了两块儿连接╮(╯▽╰)╭*/
.nav a
{
    display: inline-block;
    width: 43px;
    height: 55px;
    font-size: 16pt;
    vertical-align: middle;
    padding-left: 20px;
    text-align: center;
    margin-left: 30px;
}

.tail
{
    background-image: url(../images/BottomImgSrc.png);
    height: 92px;
    width: 423px;
    margin: 0 auto;
    top: -140px;
    position: relative;
    z-index: 100;
}

.Bottom_Info
{
    font-size: 10px;
    position: relative;
    top:35px;
}
.tail a:link
{
    color: #FFFFFF;
}

.tail a:visited
{
    color: #FFFFFF;
}

.tail a:hover
{
    color: #000000;
}



/*==================================以下是页面的部分了~=======================================*/

.MainBody
{
    clear: both;
    height: 365.5px;
    width: 667px;
    margin: 0 auto;
    margin-top: 65px;
    background-color:#FFFFFF;
    border: 2px solid #66cccc;
    
}


/*登录模块*/
.LoginDiv
{
    height: 350px;
    width: 457px;
    float: left;
    border-right:1px dashed #99cc66;
    margin-top:8px;
    margin-bottom:8px;
}

.loginImg
{
    float:right;
    position:relative;
    right:83px;
    top:10px;
    height: 33px;
    width: 35px;
    background-image: url(../images/img_login/LoginImgSrc.png);
    background-position: -17px -69px;
}

.LogInfo
{
    width:424px;
    height:250px;
    margin:0 auto;
    position:relative;
    top:-40px;
    border-top:1px dashed #99cc66;
}


.InputText
{
    border: 1px solid #99cc67;
    font-size: 12pt;
    height: 23px;
    width: 190px;
    margin-left: 40px;
    position:relative;
    top:-35px;
   
}

.RememberMe
{
    font-size: 12px; 
    vertical-align: middle; 
    position:relative; 
    top:-28px;
}

.Login a:hover
{
    background-image: url(../images/img_login/LoginImgSrc.png);
    background-position: -381px -63.5px;
}

.LoginButton
{
    float: right;
    position: relative;
    right: 10px;
    top: -16px;
    width: 89.5px;
    height: 32px;
    background-image: url(../images/img_login/LoginImgSrc.png);
    background-position: -381px -11px;
}

/*右侧模块*/
.WelcomDiv
{
    width:205px;
    height:350px;
    float:right;
        margin-top:8px;
    margin-bottom:8px;
    }
.SharpLogo
{
    margin:0 auto;
    margin-top:33px;
    height:111px;
    width:137px;
}

.SignUp
{
    height:70px;
    margin-top:50px;
    }
    
.SignButton   
{
    float:right;
    position: relative;
    right: 57px;
    top: 0px;
    width: 89.5px;
    height: 32px;
    background-image: url(../images/img_login/LoginImgSrc.png);
    background-position: -500.5px -11px;
}
    
.Sign a:hover
{
    background-image: url(../images/img_login/LoginImgSrc.png);
    background-position: -500.5px -63.5px;
}








